<div class="panel panel-default">
    <div class="panel-body">
        <table class="table borderless">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Value</th>
                    <th>Current Price</th>
                    <th>Current Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= holding.symbol %></td>
                    <td><%= holding.quantity %></td>
                    <td><%= holding.avg_price %></td>
                    <td><%= holding.cost_basis %></td>
                    <td><%= holding.current_price %></td>
                    <td><%= holding.current_value %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>