<p id="notice"><%= notice %></p>

<p>
    <strong>Portfolio</strong>
    <%= @holding.portfolio.name %>
</p>
<p>
    <strong>Symbol</strong>
    <%= @holding.symbol %>
</p>
<p>
    <strong>Asset Class</strong>
    <%= @holding.asset_class %>
</p>
<p>
    <strong>Quantity</strong>
    <%= @holding.quantity %>
</p>
<p>
    <strong>Date Opened</strong>
    <%= @holding.date_opened %>
</p>
<p>
    <strong>Average Price</strong>
    <%= @holding.avg_price %>
</p>
<p>
    <strong>Cost Basis</strong>
    <%= @holding.cost_basis %>
</p>

<%= link_to 'Buy', purchase_transactions_path(:holding_id => @holding.id) %> | 
<%= link_to 'Sell', sale_transactions_path(:holding_id => @holding.id) %> | 
<%= link_to 'Edit', edit_holding_path(@holding) %> | 
<%= link_to 'Back', holdings_path %>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Activity</th>
      <th>Quantity</th>
      <th>Symbol</th>
      <th>Description</th>
      <th>Price</th>
      <th>Commission</th>
      <th>Fees</th>
      <th>Amount</th>
    </tr>
  </thead>
<% @transactions = @holding.transactions %>
<%= render @transactions %>
</table>
