<div class="panel panel-default portfolio-panel">
    <div class="panel-body">
        <table class="table borderless">
            <thead>
                <tr>
                    <th width='150px'></th>
                    <th>Total Value</th>
                    <th>Securities Value</th>
                    <th>Cash Balance</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class='th portfolio-name'><%= portfolio.name %></th>
                    <td class='td portfolio-value'><%= portfolio.calculate_total_value %></td>
                    <td class='td portfolio-equities'><%= portfolio.calculate_equities_value %></td>
                    <td class='td portfolio-cash'><%= portfolio.cash_balance %></td>
                    <td><%= link_to 'Show', portfolio_path(portfolio.id) %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>