<div class='col-lg-6 col-sm-12' class='portfolio-cards'>
    <h2>Portfolios</h2>
    <%= link_to 'Add a Portfolio', new_portfolio_path %>
    <%= render @portfolios %>
    <div id='totals-card'>
            <table class='table'>
                <tbody>
                    <tr>
                        <th width='150px'>Totals</th>
                        <th width='160px'><%= @portfolios.sum("total_value") %></th>
                        <th width='223px'><%= @portfolios.sum("equities_value") %></th>
                        <th width='196px'><%= @portfolios.sum("cash_balance") %></th>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
<div class='col-lg-6 col-sm-12'>
    <h2>Holdings</h2>
    <%= link_to 'Add a Holding', new_holding_path %>
    <%= render @holdings %>
</div>