<p id="notice"><%= notice %></p>

<strong>Symbol</strong> <%= @security.symbol %><br>
<strong>Company</strong> <%= @security.description %><br>
<strong>CIK</strong> <%= @security.identifier %><br>
<strong>Open</strong> <%= @security.previous_close %><br>
<strong>Last Price</strong> <%= @security.current_price %><br>
<strong>Last Update</strong> <%= @security.last_api_call %><br>

<%= link_to 'Edit', edit_security_path(@security) %> |
<%= link_to 'Back', securities_path %>
