<tbody>
    <tr>
      <td><%= transaction.date %></td>
      <td><%= transaction.activity %></td>
      <td><%= transaction.quantity %></td>
      <td><%= transaction.symbol %></td>
      <td><%= transaction.description %></td>
      <td><%= transaction.price %></td>
      <td><%= transaction.commission %></td>
      <td><%= transaction.fees %></td>
      <td><%= transaction.amount %></td>
    </tr>
</tbody>

