<p id="notice"><%= notice %></p>

<h1>Listing Transactions</h1>

<table class='table'>
  <thead>
    <tr>
      <th>User</th>
      <th>Portfolio</th>
      <th>Date</th>
      <th>Description</th>
      <th>Debit</th>
      <th>Credit</th>
      <th>Balance</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.user.id %></td>
        <td><%= transaction.portfolio_id %></td>
        <td><%= transaction.date %></td>
        <td><%= transaction.description %></td>
        <td><%= transaction.debit %></td>
        <td><%= transaction.credit %></td>
        <td><%= transaction.balance %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
