<%= form_for(@transaction) do |f| %>
    <% if @transaction.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
            <ul>
                <% @transaction.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="field">
        <%= f.hidden_field :portfolio_id, :value => @holding.portfolio_id %>
        <%= f.hidden_field :holding_id, :value => @holding.id %>
    </div>
    <div class='field'>
        <%= f.label :symbol %>
        <%= f.text_field :symbol, :value => @holding.symbol, :disabled => true %>
    </div>
    <div class='field'>
        <%= f.label :date %>
        <%= f.date_field :date, :value => Date.today %>
    </div>
    <div class='field'>
        <%= f.hidden_field :activity, :value => 'Sell' %>
    </div>
    <div class='field'>
        <%= f.label :quantity %>
        <%= f.text_field :quantity %>
    </div>
    <div class='field'>
        <%= f.label :price %>
        <%= f.text_field :price %>
    </div>
    <div class='field'>
        <%= f.label :commission %>
        <%= f.text_field :commission %>
    </div>
    <div class='field'>
        <%= f.label :fees %>
        <%= f.text_field :fees %>
    </div>
    
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>

