<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar  navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Ruby Portfolio</a>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Modules', modules_url, :class=> 'navbar-link' %></li>
          <li><%= link_to 'Portfolios', portfolios_url, :class=> 'navbar-link' %></li>
          <li><%= link_to 'Holdings', holdings_url, :class=> 'navbar-link' %></li>
          <li><%= link_to 'Transactions', transactions_url, :class=> 'navbar-link' %></li>
          <li><%= link_to 'Securities', securities_url, :class=> 'navbar-link' %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div class="container-fluid">
            <div class="col-md-6">
              <%= form_tag'/quick_quote', method: "get", remote: true do %>
              <li><%= text_field_tag :symbol %></li>
              <li><%= submit_tag 'Quote' %></li>
              <% end %>
            </div>
            <div class="col-md-6">
              <li><div id='quick_quote'></div></li>
            </div>
          </div>
          <% if user_signed_in? %>
            <li><p class="navbar-text">Logged in as <strong><%= current_user.email %></strong>.</p></li>
            <% if current_user.try(:admin?) %>
              <li><%= link_to "Admin", rails_admin_path, :class => 'navbar-link' %></li>
            <% end %>
            <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
            <li><p class="navbar-text"> | </p></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
            <li><p class="navbar-text"> | </p></li>
            <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
          <% end %>
        </ul>
      </div>
    </nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
